.rootLayout {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.rootLayout > main {
  padding: 30px 128px;
  flex: 1;
  background-color: #F8FAFC;
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.rootLayout > footer {
  display: flex;
  justify-content: center;
  border-top: .5px solid lightgray;
  padding: 12px;
}

:global(.dark).rootLayout > main {
  background-color: #0F1628;
}

/* :global(.navMenuHidden).rootLayout > header {
  display: none;
} */
/*
:global(.navMenuHidden) .dynamicNavBar {
  display: none;
} */
