.navBarComplete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.navBarComplete svg {
  margin: 20px 40px;
}

:global(.swipeDown) .navBarComplete {
  background-color: white;;
  border-bottom: .5px solid lightgray;
}
