.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navMenu ul {
  display: flex;
  gap: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.navMenu li {
  list-style-type: none;
  font-size: 20px;
}

.navMenu li a {
  text-decoration: none;
  color: #2C3231;
}

.navMenu li a span {
  width: 50px;
}

:global(.dark) .navMenu li a {
  color: white;
}
