.container {
  background-color: transparent;
}

.searchForm {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
}

.searchForm input {
  padding: 8px;
  color: var(--second-color);
  font-size: 1.2em;
  border: 1px solid lightgray;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .container {
    margin: -20px -100px 20px -60px;
  }
  /* .searchForm {
    display: block;
  }

  .searchForm button {
    margin-top: 10px;
  } */
}
